<!DOCTYPE HTML>
<html>
<head>
	<title>User Management</title>
	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-app="userManagement">
	<div ng-controller="userController" class="container">
		<br />
		<div id="top" class="panel panel-info">
			<div class="panel-heading">
		    	<h3 class="panel-title">User Management</h3>
		  	</div>
		  	<div class="panel-body">
		    	<div id="add_user">
					<p>Please enter the following information to add a user. <br />
						All fields are required.</p>
		    		<div class="form-group">
			    		<label>Email Address</label>
			    		<input ng-model="user.email_address" class="form-control" type="text" placeholder="Email">
			    	</div>

					<div class="form-group">
			    		<label>First Name</label>
			    		<input ng-model="user.first_name" class="form-control" type ="text" placeholder="First Name">
					</div>
					
					<div class="form-group">
			    		<label>Last Name</label>
			    		<input ng-model="user.last_name" class="form-control" type="text" placeholder="Last Name">
					</div>
					
					<div class="form-group">
			    		<label>Password</label>
			    		<input ng-model="user.password" class="form-control" type="password" placeholder="Password">
					</div>
					
					<div class="form-group">
			    		<label>Enter Password Again</label>
			    		<input ng-model="user.password2" class="form-control" type="password" placeholder="Re-enter Password">  
					</div>

					<input type="hidden" ng-model="user.id">
					<button class="btn btn-success" ng-click="createUser(user)" ng-hide='visible'>Add</button> 
					<button class="btn btn-info" ng-click="updateUser(user)" ng-show='visible'>Save</button> 
					<button class="btn btn-warning" ng-click="clearForm()">Clear</button> 
		    	</div>

		    	<div id="edit_users">
		    	<br />
		    		<div class="search">
		    		     <div class="input-group">
		    				<div class="input-group-addon"><i class="fa fa-search"></i></div>
		    		    		<input type="text" class="form-control" placeholder="Search Users" ng-model="searchUsers">
		    				</div>
		    			</div>
		    		</div>

		    		<br />
		    		<table class="table table-striped">
		    			<thead>
		    				<tr>
		    					<td>
		    						<a ng-click="sortType='id'; sortReverse = !sortReverse">User ID
		    							<span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
		    							<span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
		    						</a>
		    					</td>

		    					<td>
		    						<a ng-click="sortType='email_address'; sortReverse = !sortReverse">
		    							Email Address
		    							<span ng-show="sortType == 'email_address' && sortReverse" class="fa fa-caret-up"></span>
		    							<span ng-show="sortType == 'email_address' && !sortReverse" class="fa fa-caret-down"></span>
		    						</a>
								</td>

		    					<td>
		    						<a ng-click="sortType='first_name'; sortReverse = !sortReverse">
		    							First Name
		    							<span ng-show="sortType == 'first_name' && sortReverse" class="fa fa-caret-up"></span>
		    							<span ng-show="sortType == 'first_name' && !sortReverse" class="fa fa-caret-down"></span>
		    						</a>
		    					</td>

		    					<td>
		    						<a ng-click="sortType='last_name'; sortReverse = !sortReverse">
		    							Last Name
		    							<span ng-show="sortType == 'last_name' && sortReverse" class="fa fa-caret-up"></span>
		    							<span ng-show="sortType == 'last_name' && !sortReverse" class="fa fa-caret-down"></span>
		    						</a>
		    					</td>

		    					<td>
		    						<a ng-click="sortType='date_created'; sortReverse = !sortReverse">
		    							Date Created
		    							<span ng-show="sortType == 'date_created' && sortReverse" class="fa fa-caret-up"></span>
		    							<span ng-show="sortType == 'date_created' && !sortReverse" class="fa fa-caret-down"></span>
		    						</a>
		    					</td>

		    					<td>
		    						<a ng-click="sortType='date_modified'; sortReverse = !sortReverse">
		    							Last Updated
		    							<span ng-show="sortType == 'date_modified' && sortReverse" class="fa fa-caret-up"></span>
		    							<span ng-show="sortType == 'date_modified' && !sortReverse" class="fa fa-caret-down"></span>
		    						</a>
		    					</td>

		    					<td>Edit</td>
		    					<td>Remove</td>
		    				</tr>
		    			</thead>
		    			<tbody>
		    				<tr ng-repeat="user in users | orderBy:sortType:sortReverse | filter:searchUsers" ng-show="users.length">
		    					<td>{{user.id}}</td>
		    					<td>{{user.email_address}}</td>
		    					<td>{{user.first_name}}</td>
		    					<td>{{user.last_name}}</td>
		    					<td>{{user.date_created}}</td>
		    					<td>{{user.date_modified}}</td>
		    					<td><button class="btn btn-small btn-info edit" ng-click="editUser(user)">Edit</button></td>
		    					<td><button class="btn btn-small btn-danger" ng-click="setInactive(user.id)">Remove</button></td>
		    				</tr>
		    			</tbody>
		    		</table>
		    	</div>
		  	</div>
		</div>
	</div>
	<!-- close container --> 

	<!-- Angular Scripts -->
	<script src="../js/app.js"></script>
	<script src="../js/userController.js"></script>

</body>
</html>