<!DOCTYPE HTML>
<html>
<head>
	<title>User Management</title>
	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body ng-app="userManagement">
	<div ng-controller="userController" class="container">
		<br />
		<div class="panel panel-info">
			<div class="panel-heading">
		    	<h3 class="panel-title">User Management</h3>
		  	</div>
		  	<div class="panel-body">
		    	<div id="add_user">
					<p>Please enter the following information to add a user. <br />
						All fields are required.</p>
		    		<div class="form-group">
			    		<label>Email Address</label>
			    		<input ng-model="user.email_address" class="form-control" type="text" placeholder="Email">
			    	</div>

					<div class="form-group">
			    		<label>First Name</label>
			    		<input ng-model="user.first_name" class="form-control" type ="text" placeholder="First Name">
					</div>
					
					<div class="form-group">
			    		<label>Last Name</label>
			    		<input ng-model="user.last_name" class="form-control" type="text" placeholder="Last Name">
					</div>
					
					<div class="form-group">
			    		<label>Password</label>
			    		<input ng-model="user.password" class="form-control" type="password" placeholder="Password">
					</div>
					
					<div class="form-group">
			    		<label>Enter Password Again</label>
			    		<input ng-model="user.password2" class="form-control" type="password" placeholder="Re-enter Password">  
					</div>

					<button class="btn btn-success" ng-click="createUser(user)">Add</button> 
		    	</div>
		    	<div id="edit_users">
		    		<table class="table table-striped">
		    			<thead>
		    				<tr>
		    					<td>User ID</td>
		    					<td>Email Address</td>
		    					<td>First Name</td>
		    					<td>Last Name</td>
		    					<td>Date Created</td>
		    					<td>Last Updated</td>
		    					<td>Edit</td>
		    					<td>Remove</td>
		    				</tr>
		    			</thead>
		    			<tbody>
		    				<tr ng-repeat="user in users" ng-show="users.length">
		    					<td>{{user.id}}</td>
		    					<td>{{user.email_address}}</td>
		    					<td>{{user.first_name}}</td>
		    					<td>{{user.last_name}}</td>
		    					<td>{{user.date_created}}</td>
		    					<td>{{user.date_modified}}</td>
		    					<td><button class="btn btn-small btn-info">Edit</button></td>
		    					<td><button class="btn btn-small btn-danger">Remove</button></td>
		    				</tr>
		    			</tbody>
		    		</table>
		    	</div>
		  	</div>
		</div>
	</div>
	<!-- close container --> 

	<!-- Angular Scripts -->
	<script src="../js/app.js"></script>
	<script src="../js/userController.js"></script>

</body>
</html>